[0;1;32m●[0m webhook_receiver.service - Waldsensor Webhook Receiver
     Loaded: loaded (]8;;file://heiner-Wyse-5070-Thin-Client/etc/systemd/system/webhook_receiver.service/etc/systemd/system/webhook_receiver.service]8;;; [0;1;32menabled[0m; preset: [0;1;32menabled[0m)
     Active: [0;1;32mactive (running)[0m since Sun 2025-04-20 13:10:07 CEST; 4h 30min ago
   Main PID: 3102541 (python3)
      Tasks: 1 (limit: 4385)
     Memory: 19.9M (peak: 20.3M)
        CPU: 4.804s
     CGroup: /system.slice/webhook_receiver.service
             └─[0;38;5;245m3102541 /usr/bin/python3 /home/heiner/waldsensor-sh/receiver/webhook_receiver.py[0m

Apr 20 13:10:08 heiner-Wyse-5070-Thin-Client python3[3102541]:  * Serving Flask app 'webhook_receiver'
Apr 20 13:10:08 heiner-Wyse-5070-Thin-Client python3[3102541]:  * Debug mode: off
Apr 20 13:10:08 heiner-Wyse-5070-Thin-Client python3[3102541]: WARNING: This is a development server. Do not use it in a production deployment. Use a production WSGI server instead.
Apr 20 13:10:08 heiner-Wyse-5070-Thin-Client python3[3102541]:  * Running on all addresses (0.0.0.0)
Apr 20 13:10:08 heiner-Wyse-5070-Thin-Client python3[3102541]:  * Running on http://127.0.0.1:5050
Apr 20 13:10:08 heiner-Wyse-5070-Thin-Client python3[3102541]:  * Running on http://192.168.178.146:5050
Apr 20 13:10:08 heiner-Wyse-5070-Thin-Client python3[3102541]: Press CTRL+C to quit
Apr 20 17:26:51 heiner-Wyse-5070-Thin-Client python3[3102541]: /home/heiner/waldsensor-sh/receiver/webhook_receiver.py:33: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
Apr 20 17:26:51 heiner-Wyse-5070-Thin-Client python3[3102541]:   "time": datetime.utcnow().replace(microsecond=0).isoformat() + "Z",
Apr 20 17:26:51 heiner-Wyse-5070-Thin-Client python3[3102541]: 127.0.0.1 - - [20/Apr/2025 17:26:51] "POST /ttn HTTP/1.1" 200 -
